@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.bg{
    background:  url('https://images.unsplash.com/photo-1571327389107-788c34251327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
    height: 105vh;
    width: 105vw;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(0px);
}

.loadText {
    color: white;
    font-size: 3rem;
    
}

/** https://images.unsplash.com/photo-1571327389107-788c34251327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80